CSRNet-pytorch-master/
ShanghaiTech_Crowd_Counting_Dataset/
UCF-QNRF_ECCV18/
quickstart.ipynb
credentials.json
VisDrone2019-DET-train/
VisDrone2019-DET-val/

model/*
!model/.gitkeep 
*.zip

Standford_Drone_Dataset/annotations/*
Standford_Drone_Dataset/videos/*
!Standford_Drone_Dataset/annotations/.gitkeep
!Standford_Drone_Dataset/videos/.gitkeep

datazip
data/raw_v3/*
data/test/*
data/val/*
!data/raw_v3/.gitkeep
!data/test/.gitkeep
!data/val/.gitkeep


.ipynb_checkpoints/*
