data
!data/StandfordDD_train/.gitkeep
!data/StandfordDD_val/.gitkeep
!data/test/.gitkeep
!data/VisDrone2019_train/.gitkeep
!data/VisDrone2019_val/.gitkeep

model
!model/.gitkeep

raw_dataset
!raw_dataset/.gitkeep

quickstart.ipynb
*.json
